@model G_B.Models.SaidaVeiculoG_B


@{
    var idVeiculoG_B = Session["VeiculoG_Bid"];
    ViewBag.titulo = "Editar Veiculo";
}



<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>  <small>  </small></h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="#">Settings 1</a>
                            </li>
                            <li>
                                <a href="#">Settings 2</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br />
                <form id="" data-parsley-validate class="form-horizontal form-label-left" action="@Url.Action("Editar","SaidaVeiculoG_B")" method="post">
                    <div class="form-group">
                        <label class="control-label col-md-3" for="Operacao">
                            Operação <span class="required">*</span>
                        </label>
                        <div class="col-md-4">
                            <input type="text" value="@Model.Operacao" id="Operacao" name="Operacao" required="required" class="form-control col-md-4 col-xs-4">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3" for="Saida">
                            Data de Saida  <span class="required">*</span>
                        </label>
                        <div class="col-md-4">
                            <input type="datetime-local" value="@Model.Saida.ToString("yyyy-MM-ddThh:mm")" id="Saida" name="Saida" required="required" class="form-control col-md-7 col-xs-12">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Veiculo">
                            Veiculo <span class="required">*</span>
                        </label>
                        <div class="col-md-4 col-sm-4 col-xs-4">
                            <select class="form-control" name="Veiculo" id="Veiculo" required>
                                <option value="" selected>SELECIONE</option>
                                @{
                                <option selected value="@Model.Veiculo.Id">@Model.Veiculo.Placa</option>
                                    foreach (var veiculo in ViewBag.veiculo)
                                    {
                                        <option value="@veiculo.Id">@veiculo.Placa</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Pneu">
                            Pneu <span class="required">*</span>
                        </label>
                        <div class="col-md-4 col-sm-4 col-xs-4">
                            <select class="form-control" name="Pneu" id="Pneu" required>
                                <option value="" selected>SELECIONE</option>
                                @{
                                    <option selected value="@Model.Pneu.Id">@Model.Pneu.Id</option>
                                    foreach (var pneu in ViewBag.pneu)
                                    {
                                        <option value="@pneu.Id">@pneu.Id</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Motorista">
                            Motorista <span class="required">*</span>
                        </label>
                        <div class="col-md-4 col-sm-4 col-xs-4">
                            <select class="form-control" name="Motorista" id="Motorista" required>
                                <option value="" selected>SELECIONE</option>
                                @{
                                    <option selected value="@Model.Motorista.Id">@Model.Motorista.Nome</option>
                                    foreach (var motorista in ViewBag.motorista)
                                    {
                                        <option value="@motorista.Id">@motorista.Nome</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Descrição</label>
                        <div class="col-md-4 col-sm-4 col-xs-4">
                            <textarea id="Descricao" value="@Model.Descricao" name="Descricao" class="resizable_textarea form-control" placeholder="@Model.Descricao" required></textarea>
                        </div>
                    </div>

                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                            <button class="btn btn-primary" type="reset">Reset</button>
                            <button type="submit" class="btn btn-success">Editar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


 

          


                       